* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: Barlow Semi Condensed;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(243, 243, 248);
}

.container {
    max-width: 1440px;
    max-height: 900px;
    padding: 0 10%;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
}

/***** cards *****/

.card {
    border-radius: 10px;
    padding: 30px;
}

.card .avatar {
    margin-bottom: 20px;
}

.card .avatar img {
    border-radius: 50%;
    width: 30px;
    float: left;
    margin-right: 15px;
}

.card .avatar .name {
    font-weight: 500;
}

.card .avatar .veri {
    opacity: 50%;
}

.card h2 {
    margin-bottom: 20px;
    font-weight: 600;
}

.card p {
    opacity: 70%;
}

/***** individual cards *****/

#card_1 {
    background: no-repeat right 70px top url(images/bg-pattern-quotation.svg),
                    hsl(263, 55%, 52%);
    color: #fff;
    grid-area: 1 / 1 / 2 / 3;
}

#card_2 {
    background-color: hsl(217, 19%, 35%);
    color: #fff;
    grid-area: 1 / 3 / 2 / 4;
}

#card_3 {
    background-color: #fff;
    color: #333;
    grid-area: 2 / 1 / 3 / 2;
}

#card_4 {
    background-color: hsl(219, 29%, 14%);
    color: #fff;
    grid-area: 2 / 2 / 3 / 4;
}

#card_5 {
    background-color: #fff;
    color: #333;
    grid-area: 1 / 4 / 3 / 5;
}

/***** responsive design *****/

@media screen and (max-width: 1200px) {
  .container {
    max-width: 375px;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    padding: 50px 20px;
  }

  #card_1 {
    background: no-repeat right 20px top url(images/bg-pattern-quotation.svg),
    hsl(263, 55%, 52%);
  }
}







/***** clearfix *****/

.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }